@using System.Collections.ObjectModel
@using System.Web.Http.Description
@using System.Threading
@model Collection<ApiParameterDescription>

<table class="help-page-table">
    <thead>
    <tr><th>参数名称</th><th>参数说明</th><th>其他信息</th></tr>
    </thead>
    <tbody>
    @foreach (ApiParameterDescription parameter in Model)
    {
        string parameterDocumentation = parameter.Documentation != null ?
            parameter.Documentation :
            "没有相关文档";

        // Don't show CancellationToken because it's a special parameter
        if (parameter.ParameterDescriptor == null || 
            (parameter.ParameterDescriptor != null &&
            !typeof(CancellationToken).IsAssignableFrom(parameter.ParameterDescriptor.ParameterType)))
        {
            <tr>
                <td class="parameter-name"><b>@parameter.Name</b></td>
                <td class="parameter-documentation"><pre>@parameterDocumentation</pre></td>
                <td class="parameter-source">
                    @switch (parameter.Source)
                    {
                        case ApiParameterSource.FromBody:
                            <p>内容来自请求的 <b>body</b>.</p>
                            break;
                        case ApiParameterSource.FromUri:
                            <p>内容来自请求的 <b>URI</b>.</p>
                            break;
                        case ApiParameterSource.Unknown:
                        default:
                            <p>None.</p>
                            break;
                    }
                </td>
            </tr>
        }
    }
    </tbody>
</table>