.mt-hovermark-container .mt-hovermark-item {
    position: relative;
}

    .mt-hovermark-container .mt-hovermark-item .mt-hovermark-overlay {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
    }
