<div class="jumbotron">
    <h1>2014-06-06更新</h1>
    <ol>
        <li>修改 <a href="/Help/api/CashWhenFee?salemanuserid={salemanuserid}">商家现金抵扣券活动，扫描二维码后使用</a>，新增GetTicketMoney(获取券需要消费多少钱)，GetTicketMemo(获取券的说明)字段</li>
        <li>修改<a href="/Help/Api/GET-api-CashWhenFee_userid_salemanuserid_pageindex_pagesize">我的现金抵扣券</a>可以按商家筛选，加入券数</li>
        <li>修改<a href="/Help/Api/POST-api-CashWhenFee_userid_ids_counts">使用现金抵扣券</a></li>
    </ol>
</div>
