
#NavSide{ float:left; width:180px;  }
#NavSide ul{  }
#NavSide li a{ text-decoration:none; color:#2b78bc; }
#NavSide li a:hover{ text-decoration:underline; }
#NavSide li{ padding:2px; list-style:none; height:24px; line-height:24px; background:#deebfe; }
#NavSide li.title{ font-weight:bold; color:#ffffff; text-indent:10px; background:url(../../../images/MyUser_Menu_Bar.gif) repeat-x; height:29px; line-height:29px; padding:0px; }
#NavSide li.title a{ color:#FF9900; font-weight:normal; }

#NavSide li.selected{}
#NavSide li.selected a{ color:red; }
#NavSide li.last{ border-bottom:none; margin-bottom:0px; }

#Main{}

#MainContentWrap{  float:right; width:750px; min-height:500px; _height:500px; }
#MainContent{ padding:10px; }
#SitePosition{ height:20px; line-height:20px; font-size:12px; color:#fff; background:#2b74b8; padding:2px; text-indent:10px; margin-bottom:10px; }
#SitePosition a{ color:#fff; }
#SitePosition .curPos{ color:#ff9933; }
#SitePosition .spl{ background:url(../../../images/Nav-arrow.gif) no-repeat center center; padding:2px 10px; }

.searchTable{ border-width:1px; }
.searchTable .key{  min-width:80px; }

table.formTable{}
table.formTable td.tdLeft{ text-align:right; vertical-align:top; }
table.formTable td.tdRight{ text-align:left; vertical-align:top; padding:10px; padding-top:0px; }
table.formTable .require{}
table.formTable .tips{}
table.formTable textarea{ font-size:12px; }

.data-Title{ font-size:18px; font-weight:bold; text-align:center; margin-bottom:10px; }
.data-Sub{ text-align:center; margin-bottom:20px; color:#666; }
.data-Content{ text-align:left; line-height:20px; }