<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!-- ADeeWu.HuoBi3J.SQL.DataBase 基本配置 -->
    <!-- 设置是否启动调试模式 -->
    <add key="ADeeWu.HuoBi3J.SQL.DataBase.Debug" value="true" />
    <!-- 设置是否启动错误追踪 -->
    <add key="ADeeWu.HuoBi3J.SQL.DataBase.ErrorTrace" value="true" />
    <!-- 设置是否总是追踪 -->
    <add key="ADeeWu.HuoBi3J.SQL.DataBase.AlwaysTrace" value="true" />
    <!-- 设置日志器记录日志文件路径 -->
    <add key="ADeeWu.HuoBi3J.SQL.DataBase.LogPath" value="/log/" />
    <!-- 记录模式 可选值: web 与 windows . 针对LogPath 而定 -->
    <add key="ADeeWu.HuoBi3J.SQL.DataBase.LogMode" value="web" />
    <!--可选DBProvider: MsSqlProvider , OdbcProvider , OledbProvider , MySqlProvider-->
    <add key="ADeeWu.HuoBi3J.SQL.DataBase.DBProvider" value="ADeeWu.HuoBi3J.SQL.DBProvider.MsSqlProvider" />
    <!-- 设置连接字符串 -->
    <add key="ADeeWu.HuoBi3J.SQL.DataBase.ConnectionString" value="Data Source=www.huobi3j.com,2000;Initial Catalog=www_huobi3j_com;Persist Security Info=True;User ID=adee;Password=4r3e2w1q" />
    <add key="ADeeWu.HuoBi3J.SQL.DataBase.ConnectionString-" value="Data Source=.;Initial Catalog=www_huobi3j_com;Persist Security Info=True;User ID=sa;Password=123456" />
    <!-- 转帐金额下限单位:元 -->
    <add key="mintransfermoney" value="20" />
    <!-- 金额兑换货币汇率,1元可以兑换的货币数量 -->
    <add key="MoneyToCoinsRate" value="10" />

    <add key="ak" value="xgLsN99uIaoe9vmqb5wGbt7F" />
    <add key="GeoProductTableID" value="49566" />
    <add key="GeoTableOfCreateUrl" value="http://api.map.baidu.com/geodata/v3/geotable/create" />
    <add key="GeoTableOfDetailsUrl" value="http://api.map.baidu.com/geodata/v3/geotable/detail" />
    <add key="GeoTableOfListUrl" value="http://api.map.baidu.com/geodata/v3/geotable/list" />
    <add key="GeoTableOfUpdateUrl" value="http://api.map.baidu.com/geodata/v3/geotable/update" />
    <add key="GeoTableOfDeleteUrl" value="http://api.map.baidu.com/geodata/v3/geotable/delete" />
    <add key="PoiOfCreateUrl" value="http://api.map.baidu.com/geodata/v3/poi/create" />
    <add key="PoiOfDetailsUrl" value="http://api.map.baidu.com/geodata/v3/poi/detail" />
    <add key="PoiOfListUrl" value="http://api.map.baidu.com/geodata/v3/poi/list" />
    <add key="PoiOfUpdateUrl" value="http://api.map.baidu.com/geodata/v3/poi/update" />
    <add key="PoiOfDeleteUrl" value="http://api.map.baidu.com/geodata/v3/poi/delete" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
