<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- ADeeWu.HuoBi3J.SQL.DataBase 基本配置 -->
    <!-- 设置是否启动调试模式 -->
    <add key="ADeeWu.HuoBi3J.SQL.DataBase.Debug" value="true" />
    <!-- 设置是否启动错误追踪 -->
    <add key="ADeeWu.HuoBi3J.SQL.DataBase.ErrorTrace" value="true" />
    <!-- 设置是否总是追踪 -->
    <add key="ADeeWu.HuoBi3J.SQL.DataBase.AlwaysTrace" value="true" />
    <!-- 设置日志器记录日志文件路径 -->
    <add key="ADeeWu.HuoBi3J.SQL.DataBase.LogPath" value="/log/" />
    <!-- 记录模式 可选值: web 与 windows . 针对LogPath 而定 -->
    <add key="ADeeWu.HuoBi3J.SQL.DataBase.LogMode" value="web" />
    <!-- 网站定时刷新的网页 -->
    <add key="TaskUrl" value="http://localhost:8088/Refresh.aspx" />
    <add key="TaskInterval" value="86400000" />
    <!-- 设置实现抽象DB类数据库提供器 -->
    <!--可选DBProvider: MsSqlProvider , OdbcProvider , OledbProvider , MySqlProvider-->
    <add key="ADeeWu.HuoBi3J.SQL.DataBase.DBProvider" value="ADeeWu.HuoBi3J.SQL.DBProvider.MsSqlProvider" />
    <!-- 设置连接字符串 -->
    <add key="ADeeWu.HuoBi3J.SQL.DataBase.ConnectionString" value="Data Source=www.huobi3j.com,2000;Initial Catalog=www_huobi3j_com;Persist Security Info=True;User ID=adee;Password=4r3e2w1q" />
    <add key="ADeeWu.HuoBi3J.SQL.DataBase.ConnectionString-" value="Data Source=.;Initial Catalog=www_huobi3j_com;Persist Security Info=True;User ID=sa;Password=123456" />
    <add key="DataTimeSelector.BasicPath" value="/JS/DateTimeSelector/" />
    <add key="DataTimeSelector.SkinCssFilePath" value="Css/calendar-blue2.css" />
    <add key="DataTimeSelector.JqueryFilePath" value="/Js/Jquery.js" />
    <add key="ADeeWu.HuoBi3J.WebUI.FileUploadEx.UploadRoot" value="/uploadfiles/" />
    <add key="ADeeWu.HuoBi3J.WebUI.FileUploadEx.AllowFileExt" value="gif|jpg|jpeg|bmp|png" />
    <!-- 允许上传文件大小,单位 Bytes-->
    <add key="ADeeWu.HuoBi3J.WebUI.FileUploadEx.AllowFileSize" value="4096000" />
    <!-- 转帐金额下限单位:元 -->
    <add key="mintransfermoney" value="20" />
    <!-- 金额兑换货币汇率,1元可以兑换的货币数量 -->
    <add key="MoneyToCoinsRate" value="10" />
    <!-- 获取指定WebIM帐号在线状态的格式化字符串,参照string.format 方法,第一个格式参数为用户的UIN -->
    <add key="WebIMStateURLFormat" value="http://im.ADeeWu.HuoBi3J.com/Handler/External/GetImg.ashx?uin={0}" />
    <add key="NullUserName" value="木有名字" />
    <add key="SystemID" value="64" />
    <add key="SaleManID" value="17" />
    <add key="movebid" value="29" />
    <!--百度地度Application Key-->
    <add key="BaiduApplicantionKey" value="xgLsN99uIaoe9vmqb5wGbt7F" />

    <add key="ak" value="xgLsN99uIaoe9vmqb5wGbt7F" />
    <add key="GeoProductTableID" value="49566" />
    <add key="GeoTableOfCreateUrl" value="http://api.map.baidu.com/geodata/v3/geotable/create" />
    <add key="GeoTableOfDetailsUrl" value="http://api.map.baidu.com/geodata/v3/geotable/detail" />
    <add key="GeoTableOfListUrl" value="http://api.map.baidu.com/geodata/v3/geotable/list" />
    <add key="GeoTableOfUpdateUrl" value="http://api.map.baidu.com/geodata/v3/geotable/update" />
    <add key="GeoTableOfDeleteUrl" value="http://api.map.baidu.com/geodata/v3/geotable/delete" />
    <add key="PoiOfCreateUrl" value="http://api.map.baidu.com/geodata/v3/poi/create" />
    <add key="PoiOfDetailsUrl" value="http://api.map.baidu.com/geodata/v3/poi/detail" />
    <add key="PoiOfListUrl" value="http://api.map.baidu.com/geodata/v3/poi/list" />
    <add key="PoiOfUpdateUrl" value="http://api.map.baidu.com/geodata/v3/poi/update" />
    <add key="PoiOfDeleteUrl" value="http://api.map.baidu.com/geodata/v3/poi/delete" />
  </appSettings>
  <system.web>
    <!-- 
            设置 compilation debug="true" 可将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Forms">
      <forms loginUrl="~/Login" timeout="2880" defaultUrl="~/" />
    </authentication>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider" />
    <httpRuntime requestValidationMode="2.0" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>